MAINNET_RPC_URL=https://mainnet.infura.io/v3/<YOUR_PROJECT_ID>
SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/<YOUR_PROJECT_ID>
PRIVATE_KEY=__SET_ME__
ETHERSCAN_API_KEY=__SET_ME__
WALLET_ADDR=__SET_ME__